@font-face {
    font-family: 'Dinnext';
    src: url('./dinnext.woff2') format('woff2'),
         url('./dinnext.woff') format('woff');
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font: 12px Verdana, Arial, Helvetica, sans-serif;
}

h1, h2, h3 {
    font-family: dinnext, Arial, Helvetica, sans-serif;
}

h1 {
    text-transform: uppercase;
}

h2 {
    font-size: 160%;
    margin: 25px 0 10px;
    font-weight: normal;
}

h3 {
    font-size: 130%;
    margin: 15px 0 7px;
    font-weight: normal;
}
